:root {
  --main-background-color: #054fda;
  --main-text-color: #cabd04;
  --link-color: rgb(65, 225, 7);
  --link-color-hover: rgb(2, 105, 9);
  --visited-link-color: rgb(1, 41, 17);
  --warning-link-color: #f87000;
  --button-background-color: #bd7005;
  --button-border-color: #470202;
  --button-hover-color: #6a4902;
}


.dark-mode {
  --main-background-color: var(--main-background-color);
  --main-text-color: var(--main-text-color);
}

header{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: grid;
    text-align: start;
    padding: 10px;
}
header h1 {
    margin: 0;
    font-size: 28px;
}

#logo-pokemon {
    width: 400px;
    height: auto;
    justify-self: center;

}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#pokemontrobat {
  text-align: left; 
  text-transform: capitalize;
  padding: 20px;
}

.pokemon-buscat-name{
  text-transform: capitalize;
  margin: 20px 0;
  font-size: 14px;
}

.pokemon-buscat-image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 10px 0;
  display: block;
}

#pokemonsection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  padding: 20px;
}
.pokemondiv {
    background-color: var(--main-text-color);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    align-self: start;
}
.pokemondiv:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-name{
    color: var(--button-background-color);
    margin: 3px 0;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}
.pokemon-id{
    color: var(--button-background-color);
    margin: 3px 0;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}

.pokemon-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.pokemon-button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

.pokemon-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.pokemon-types{
  color: var(--button-background-color);
  margin: 3px 0;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
}

nav {
  position: sticky;
  top: 0;
}

#equippokemon {
  display: flex;
  flex-direction: row; 
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#equippokemon li {
  background-color: var(--main-text-color);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 215px; 
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;  
  gap: 15px;
  list-style: none; 
  margin: 0;
  align-items: center;
}

#equippokemon li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-equip-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.pokemon-equip-name {
  color: var(--button-background-color);
  text-transform: capitalize;
  margin: 5px 0;
  font-size: 14px;
}

.pokemon-equip-id {
  color: var(--button-background-color);
  margin: 5px 0;
  font-size: 14px;
}
.pokemon-equip-types {
  color: var(--button-background-color);
  margin: 5px 0;
  font-size: 14px;
}

.pokemon-equip-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.pokemon--equip-button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);

}
@media (max-width: 736px) {

  header h1 {
    font-size: 20px;
  }

#pokemonsection {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    padding: 10px;
  }
#equippokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 15px;
  padding: 20px;
}
.pokemon-name{
    font-size: 2px;
  }
  
.membre-equip {
    width: 100px;
  }
}