:root {
  --main-background-color: #044acb;
  --main-text-color: #cabd04;
  --link-color: rgb(65, 225, 7);
  --link-color-hover: rgb(2, 105, 9);
  --visited-link-color: rgb(1, 41, 17);
  --warning-link-color: #f87000;
  --button-background-color: #a8660a;
  --button-border-color: #470202;
  --button-hover-color: #6a4902;
}


.dark-mode {
  --main-background-color: var(--main-background-color);
  --main-text-color: var(--main-text-color);
}

header{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    text-align: start;
    padding: 10px;
}

#logo-pokemon {
    width: 400px;
    height: auto;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


@media (max-width: 600px) {

  header h1 {
    font-size: 20px;
  }

  #Pokemons {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .membre-equip {
    width: 120px;
  }
}